{% extends "base.html" %}

{% block content %}
<div class="container shadow px-5">
    <div class="row">
        <div class="col-md col-md-offset-1 my-3 text-center">
            <h4 class="mt16">This environment allows students to access a real-time tool for developing, compiling and running C code for Arduino.</h4>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="row justify-content-md-center my-1">
                    <div class="col-md-2 ml-auto">
                        <img class="img" src="{{ url_for('static', filename='img/console.svg') }}" alt="Arduino Development" width="90px" />
                    </div>
                    <div class="col-md-8">
                        <h5>Insert your code</h5>
                        <p>Your session will last <strong>{{ lab_duration }} minutes</strong>. You can use the code editor to create a new Sketch, upload your own file, or apply one of the pre-defined examples.</p>
                    </div>
                </div>
                <div class="row justify-content-md-center my-1">
                    <div class="col-md-2 ml-auto">
                        <img class="img" src="{{ url_for('static', filename='img/code_verified.svg') }}" alt="Arduino Development" width="90px" />
                    </div>
                    <div class="col-md-8">
                        <h5>Verify your code</h5>
                        <p>After you are done with the Sketch, compile your code in order to check that the syntax is correct and therefore, it is possible to execute it.</p>
                    </div>
                </div>
                <div class="row justify-content-md-center my-1">
                    <div class="col-md-2 ml-auto">
                        <img class="img img-responsive" src="{{ url_for('static', filename='img/code_compiled.svg') }}" alt="Arduino Development" width="90px" />
                    </div>
                    <div class="col-md-8">
                        <h5>Execute the Sketch</h5>
                        <p>Once the Sketch has been successfully compiled, you can execute it and see the fruit of your work live through the webcam.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="card p-2" style="background-color:#f4f1f0;">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <h5>Select a time slot to reserve the Lab</h5>
                            </div>
                        </div>
                        <form action="" method="post">
                            <div class="row justify-content-center">
                                {{ form.hidden_tag() }}
                                <div class="col-md-6">
                                    {{ form.date.label }}:<br>
                                    {{ form.date(class="form-control") }}<br>
                                </div>
                                <div class="col-md-5">
                                    {{ form.hour.label }}:<br>
                                    {{ form.hour(class="form-control") }}<br>
                                </div>
                                <div class="d-grid d-md-flex justify-content-md-center">
                                    {{ form.submit(class='btn btn-primary') }}
                                </div>
                            </div>
                        </form>             
                    </div>
                </div>
                <div class="row">
                    <div class="card my-3 p-3" style="background-color:#f4f1f0;">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <h5>Have a reservation?</h5>
                                <h5>Enter now!</h5>
                            </div>
                            <div class="col-4">
                                <a href="{{ url_for('lab') }}" class="btn btn-primary iot">Enter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 